{% extends 'ediary/base.html' %}
{% block title %} Home {% endblock %}
{% block content %}
    <div class="content">
        <h1>Hi {{user.first_name}}</h1>
        <br><br>
        <h2>Your last 3 workouts:</h2>
        <table class="table table-success table-striped">
            <thead>
                <tr>
                    <th scope='col'>Date</th>
                    <th scope='col'>Location</th>
                    <th scope='col'>Exercise</th>
                    <th scope='col'>Duration (min)</th>
                    <th scope='col'>Distance (km)</th>                    
                </tr>
            </thead>   
            <tbody>
            {% for a in activitylog%}
                 <tr>
                    <td>{{a.date}}</td>
                    <td>{{a.location}}</td>
                    <td>{{a.exercise}}</td>
                    <td>{{a.duration_min}}</td>
                    <td>{{a.distance_km}}</td>
                 </tr>
            {% endfor %}
            </tbody> 

        </table>
        <br><br>
    </div> 
       
    <div class="content">
        <h2>Log your next workout below</h2>
    </div>
    <form>
        <div class="row g-3 align-items-center">
                <div class="col-auto">
                    <label for="date" class="form-label">Date</label>
                </div>
                <div class="col-auto">
                    <input type="date" class="form-control" id="date">
                </div>
        </div>
        <div class="row g-3 align-items-center">
                <div class="col-auto">
                    <label for="Location" class="form-label">Location</label>
                </div>
                <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                    <option selected>Select the location</option>
                    {% for instance in elocation %}
                        <option value={{instance.id}}>{{instance.location}}</option>
                    {% endfor %}
                </select>
                <div class="col-auto">
                    <label for="Exercise" class="form-label">Exercise</label>
                </div>
                <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                    <option selected>Select the exercise</option>
                    {% for e in exercises %}
                        <option value={{e.id}}>{{e.exercise_name}}</option>
                    {% endfor %}
                </select>
        </div>
        <br><br>
        <button type="submit" class="register-button">Save</button>
    </form>
<!--    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>-->
{% endblock %}