{% extends 'ediary/base.html' %}
{% block title %} Login {% endblock %}
{% block content %}
    <h1>Welcome to your Exercise diary!</h1>
    <form>
        <div class="row g-3 align-items-center">
             <div class="col-auto">
                <label for="email" class="form-label">email</label>
            </div>
            <div class="col-auto">
                <input type="email" class="form-control" id="email">
            </div>
        </div>
        <br>
        <div class="row g-3 align-items-center">
            <div class="col-auto">
                <label for="password" class="col-form-label">password</label>
            </div>
            <div class="col-auto">
                <input type="password" id="password" class="form-control" aria-describedby="passwordHelpInline">
            </div>
            <div class="col-auto">
                <span id="passwordHelpInline" class="form-text">
                <a href="#">Forgot password</a>
                </span>
            </div>
        </div>
        <br><br>
          <button type="submit" class="button">Login</button><br><br>
          <button class="button register-button">Register for an account</button>
          </form>
    </div>
{% endblock %}