{% extends 'ediary/base.html' %}
{% block title %} Register {% endblock %}
{% block content %}
    <h1>Register for your Exercise diary!</h1>
    <form>
        <div class="row g-3 align-items-center">
             <div class="col-auto">
                 <label for="First Name" class="col-form-label">First Name</label>
            </div>
            <div class="col-auto">
                <input type="text" id="first_name" class="form-control" name="first_name">
            </div>
        </div>
        <br>
        <div class="row g-3 align-items-center">
             <div class="col-auto">
                <label for="First Name" class="col-form-label">Last Name</label>
            </div>
            <div class="col-auto">
                <input type="text" id="last_name" class="form-control" name="last_name">
            </div>
        </div>
        <br>
        <div class="row g-3 align-items-center">
             <div class="col-auto">
                <label for="email" class="col-form-label">Email</label>
            </div>
            <div class="col-auto">
                <input type="text" id="email" class="form-control" name="email">
            </div>
        </div>
        <br>
        <div class="row g-3 align-items-center">
             <div class="col-auto">
                <label for="password" class="col-form-label">password</label>
            </div>
            <div class="col-auto">
                <input type="password" id="password" class="form-control" aria-describedby="passwordHelpInline">
            </div>
            <div class="col-auto">
                <span id="passwordHelpInline" class="form-text">
                Enter a combination of 10 letters, numbers, special characters
                </span>
            </div>
        </div>
            <br><br>
            <button type="submit" class="button register-button">Register</button>
        </form> 
    </div>
{% endblock %}